html,
body {
  min-height: 100vh;
  background-color: #fcddec;
  color: $default;
  margin-bottom: 1.2rem;
}

.container {
  min-height: 100%;
  border-top-left-radius: 5.2rem;
  border-top-right-radius: 5.2rem;
  max-width: 120rem;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('../images/bg/first-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.2rem;
  padding: 0 1.2rem;
}

.about__container {
  margin: 0 auto;
  min-height: 47rem;
  background-image: none;
  border-radius: 0%;
  background-color: #513B46;
  img {
      max-width: 100%;
      height: auto;
      overflow: hidden;
    }

}

body {
  background-color: #fcddec;

}

.order-container {
  max-height: 100%;
  max-width: 38.5rem;
  max-height: 50rem;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  padding-top: 2rem;
  
}

.container-contact {
  max-height: 100%;
  border-radius: 5.2rem;
  max-width: 120rem;
  margin: 0 auto;
  background-color: #000;
  padding-top: 8rem;
  padding-bottom: 10rem;
  color: #fff;

}