html {
  box-sizing: border-box;
  font-size: calc(100vw / 1924   * 10);
  @media (max-width: 1200px){
    font-size: calc(100vw / 1024 * 10);
  }
  @media (max-width: 1024px){
    font-size: calc(100vw / 768 * 10);
  }
  @media (max-width: 767px){
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 500px){
    font-size: calc(100vw / 375 * 10);
  }
} 




*,
*::after,
*::before {
  box-sizing: inherit;
}


ol[class] {
  padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}
