$accent:#7397F4;
$default: #000;
$title: #29282d;
$bg:#FCDDEC;


%oregano-400{
    font-family:'Oregano-Regular',cursive;
    font-weight: 400;

}
%orienta-400 {
  font-family: 'Orienta-Regular', sans-serif;
  font-weight: 400;

}
%paprika-400{
  font-family: 'Paprika-Regular',cursive;
  font-weight: 400;
}


